@{
    ViewBag.Title = "Index";
}

<h2>Public!!</h2>

<p>nkServer web client home page.</p>
<img alt="KRAKEN!" src="@Url.Content("~/Content/Images/kraken.jpg")" style="width: 25%; height: 25%;" />

@*<input type="hidden" id="hdHost" value="http://users.nazkraken.com" />*@
<input type="hidden" id="hdHost" value="http://localhost" />

<div id="1"></div>
<div id="2"></div>
<div id="3"></div>
<div id="4"></div>
<div id="5"></div>

<input type="button" onclick="LoadUsers();" value="ALL" />
<input type="button" onclick="LoadUserName('Nuria');" value="NÚRIA" />
<input type="button" onclick="LoadUserName('Marc');" value="MARC" />
<input type="button" onclick="LoadUserName('Inventat');" value="Inventat" />