@{
    ViewBag.Title = "Index";
}

<h2>Public!!</h2>

<p>nkServer web client home page.</p>
<img alt="KRAKEN!" src="@Url.Content("~/Content/Images/kraken.jpg")" style="width: 25%; height: 25%;" />

@*<input type="hidden" id="hdHost" value="http://users.nazkraken.com" />*@
<input type="hidden" id="hdHost" value="http://localhost" />

<div id="marc"></div>
<div id="nuria"></div>
<div id="pablo"></div>
<div id="ray"></div>
<div id="steff"></div>

<input type="button" onclick="LoadUserName('Marc');" value="MARC" />