@{
    ViewBag.Title = "Index";
}

<h2>Public!!</h2>

<p>nkServer web client home page.</p>
<img alt="KRAKEN!" src="@Url.Content("~/Content/Images/kraken.jpg")" style="width: 50%; height: 50%;" />

<input type="hidden" id="hdHost" value="http://users.nazkraken.com" />
@*<input type="hidden" id="hdHost" value="localhost:50285" />*@

<div id="marc"></div>
<div id="nuria"></div>
<div id="pablo"></div>
<div id="ray"></div>
<div id="steff"></div>

<script type="text/javascript">
    var host = $('#hdHost').val();

    $(document).ready(function () {
        $.getJSON(host + '/api/Users/Marc',
            function (data) {
                alert(data);
            });
    });
</script>