@{
    ViewBag.Title = "Index";
}

<h2>Public!!</h2>

<p>nkServer web client home page.</p>
<img alt="KRAKEN!" src="@Url.Content("~/Content/Images/kraken.jpg")" style="width: 50%; height: 50%;" />