body {
    background-color: gray;
    font-family: Verdana;
    color: white;
}

#header {
}

#sidebar {
    float: left;
    width: 150px;
    margin: 10px;
    height: 400px;
}

    #sidebar ul {
        list-style-type: none;
        cursor: pointer;
    }

    #sidebar li:hover {
        background-color: gray;
    }

#content {
}

#footer {
    text-align: center;
    font-size: 10px;
    clear: both;
}

#hiddenContent {
    display: none;
}

/* POP UP */
#popUpContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popUpBackground {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.popUp {
    background-color: white;
    color: black;
    position: absolute;
    border: solid 2px black;
    top: 25%;
    left: 25%;
    height: 25%;
    width: 50%;
    text-align: center;
}

    .popUp #message {
        margin: 10px;
        height: 70%;
    }